<ion-header>
  <ion-toolbar>
    <ion-title>category</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="product-detail" style="background: #f0f1f2;" color="primery">
  <ion-grid class="microsoft_office">
      <ion-row class="business_software_cont">
          <ion-col sizle="12">
              <span class="inner_office"> Microsoft Office 365 and Business Essentials Software (CSP) </span>
              <p class="solid_dd"> By: Microsoft </p>
              <p class="card_review">
                  <span class="star-ratings-sprite">
                                                  <span style="width:90%" class="star-ratings-sprite-rating"></span>
                  </span>
                  <span>(224 reviews)</span>
              </p>
              <p class="price_stating_flow"> Starting Price:</p>
              <p class="km_rs"> <span class="rupees_startingd"> &#8377;</span> 1,200 <span> /m</span> <span class="meters">&#8377; 1200/m</span>
                  <span class="off_discounts">20% OFF</span>
              </p>
          </ion-col>
          <ion-col size="12" class="features_div">
              <h4> Features </h4>
              <ion-row>
                  <ion-col size="6" class="display_cdd">

                      <p class="features_parh"> <img src="img/pointer_filled.png" / class="img-responsive"> Endpoint Protection </p>
                      <p class="features_parh"> <img src="img/pointer_filled.png" / class="img-responsive"> Data Recovery </p>
                      <p class="features_parh"> <img src="img/pointer_filled.png" / class="img-responsive"> Endpoint Protection </p>
                      <p class="features_parh"> <img src="img/pointer_filled.png" / class="img-responsive"> Data Recovery </p>
                      <p class="features_parh"> <img src="img/pointer_filled.png" / class="img-responsive"> Endpoint Protection </p>
                      <p class="features_parh"> <img src="img/pointer_filled.png" / class="img-responsive"> Data Recovery </p>
                      <p class="features_parh"> <img src="img/pointer_filled.png" / class="img-responsive"> Endpoint Protection </p>
                      <p class="features_parh"> <img src="img/pointer_filled.png" / class="img-responsive"> Data Recovery </p>
                      <p class="features_parh"> <img src="img/pointer_filled.png" / class="img-responsive"> Endpoint Protection </p>
                      <p class="features_parh"> <img src="img/pointer_filled.png" / class="img-responsive"> Data Recovery </p>
                      <p class="features_parh"> <img src="img/pointer_filled.png" / class="img-responsive"> Endpoint Protection </p>
                      <p class="features_parh"> <img src="img/pointer_filled.png" / class="img-responsive"> Data Recovery </p>

                  </ion-col>

                  <ion-col size="6" class="display_cdd">
                      <p class="features_parh"> <img src="img/pointer_filled.png" / class="img-responsive"> Endpoint Protection </p>
                      <p class="features_parh"> <img src="img/pointer_filled.png" / class="img-responsive"> Data Recovery </p>
                      <p class="features_parh"> <img src="img/pointer_filled.png" / class="img-responsive"> Endpoint Protection </p>
                      <p class="features_parh"> <img src="img/pointer_filled.png" / class="img-responsive"> Data Recovery </p>
                      <p class="features_parh"> <img src="img/pointer_filled.png" / class="img-responsive"> Endpoint Protection </p>
                      <p class="features_parh"> <img src="img/pointer_filled.png" / class="img-responsive"> Data Recovery </p>
                      <p class="features_parh"> <img src="img/pointer_filled.png" / class="img-responsive"> Endpoint Protection </p>
                      <p class="features_parh"> <img src="img/pointer_filled.png" / class="img-responsive"> Data Recovery </p>
                      <p class="features_parh"> <img src="img/pointer_filled.png" / class="img-responsive"> Endpoint Protection </p>
                      <p class="features_parh"> <img src="img/pointer_filled.png" / class="img-responsive"> Data Recovery </p>
                      <p class="features_parh"> <img src="img/pointer_filled.png" / class="img-responsive"> Endpoint Protection </p>
                      <p class="features_parh"> <img src="img/pointer_filled.png" / class="img-responsive"> Data Recovery </p>

                  </ion-col>

              </ion-row>

          </ion-col>

      </ion-row>

      <ion-row class="business_software_cont">
          <ion-col size="12">
              <h4 class="abouts_us"> About Us </h4>
              <p class="completes"> Lepetro is a best and complete Windows-based Petrol pump management software and fuel management software to manage Petrol Pumps working, which includes the Meter Reading Entry, Shift wise and Executive wise entry, Credit S…
              </p>
          </ion-col>
      </ion-row>

      <ion-row class="tally_software_cont">
          <ion-col size="12">
              <h2> Tally.ERP 9 Pricing </h2>
              <p> (14 plans available) </p>
          </ion-col>

          <ion-col class="tally_cart">
              <ion-grid class="lepetro_best">
                  <ion-row>
                      <ion-col size="12" class="background_tally_card">
                          Silver
                      </ion-col>

                      <ion-col class="features_silver_part" size="12">
                          <h3> Features </h3>
                          <p>
                              <ion-icon name="checkmark"></ion-icon> <span> Customer Portal </span> </p>
                          <p>
                              <ion-icon name="checkmark"></ion-icon> <span> Account management </span> </p>
                          <p>
                              <ion-icon name="checkmark"></ion-icon> <span> Multi Location  </span> </p>
                          <p>
                              <ion-icon name="checkmark"></ion-icon><span> Customer Portal </span> </p>
                          <p>
                              <ion-icon name="checkmark"></ion-icon><span> Account management</span> </p>
                          <span class="view_plan_more"> View all 15 Features </span>

                      </ion-col>
                  </ion-row>
              </ion-grid>

              <ion-grid>
                  <ion-row class="plan_price_part_de">

                      <ion-col size="5">
                          <h5 class="plan_price_quanity"> Plan Price </h5>
                          <p> Quantity (License)</p>

                      </ion-col>
                      <ion-col size="2">

                      </ion-col>
                      <ion-col size="5">
                          <ion-item>

                              <ion-button color="light" class="minus_left_css">
                                  <ion-icon name="add" class="add"></ion-icon>
                              </ion-button>

                              <ion-input class="princing_input_div">1</ion-input>
                              <ion-button color="light" class="plus_priceing">
                                  <ion-icon name="remove"></ion-icon>
                              </ion-button>
                          </ion-item>

                          <ion-item>
                              <ion-button>1</ion-button>
                          </ion-item>
                      </ion-col>
                  </ion-row>

              </ion-grid>

              <ion-grid class="calculated_price_success">
                  <ion-row>
                      <p class="pp"> Calculated Price </p>
                      <h4>&#x20B9; 22000</h4>
                      <button  class="button_sucess_dd">Share This Plan</button>
                  </ion-row>

              </ion-grid>

          </ion-col>

      </ion-row>

      <ion-row class="specifications_software_cont">
          <ion-col size="12">
              <h4> Specifications </h4>

              <ion-row class="type_wise">
                  <ion-col size="1">
                      <span> <img src="img/artboard.svg"/> </span>

                  </ion-col>
                  <ion-col size="11" class="organstion_cont_right">
                      <p class="organstion_cont"> Organization Type </p>
                      <ion-row>
                          <ion-col size="3">
                              <p class="sme"> SME </p>
                          </ion-col>
                          <ion-col size="3">
                              <p class="sme"> Mid Market </p>
                          </ion-col>
                          <ion-col size="3">
                              <p class="sme"> Enterprise </p>
                          </ion-col>
                          <ion-col size="3">
                              <p class="sme"> Startup </p>
                          </ion-col>

                      </ion-row>

                  </ion-col>

              </ion-row>

              <ion-row class="type_wise">
                  <ion-col size="1">
                      <span> <img src="img/employees.svg"/> </span>

                  </ion-col>
                  <ion-col size="11" class="organstion_cont_right">
                      <p class="organstion_cont"> No. of Employees </p>
                      <ion-row>
                          <ion-col size="3">
                              <p class="sme"> SME </p>
                          </ion-col>
                          <ion-col size="3">
                              <p class="sme"> Mid Market </p>
                          </ion-col>
                          <ion-col size="3">
                              <p class="sme"> Enterprise </p>
                          </ion-col>
                          <ion-col size="3">
                              <p class="sme"> Startup </p>
                          </ion-col>

                      </ion-row>

                  </ion-col>

              </ion-row>

              <ion-row class="type_wise">
                  <ion-col size="1">
                      <span> <img src="img/supported_platform.svg"/> </span>

                  </ion-col>
                  <ion-col size="11" class="organstion_cont_right">
                      <p class="organstion_cont"> Supported Platforms </p>
                      <ion-row>
                          <ion-col size="3">
                              <p class="sme"> SME </p>
                          </ion-col>
                          <ion-col size="3">
                              <p class="sme"> Mid Market </p>
                          </ion-col>
                          <ion-col size="3">
                              <p class="sme"> Enterprise </p>
                          </ion-col>
                          <ion-col size="3">
                              <p class="sme"> Startup </p>
                          </ion-col>

                      </ion-row>

                  </ion-col>

              </ion-row>

          </ion-col>

      </ion-row>

      <ion-row class="specifications_software_cont">
          <ion-col size="12">
              <h4> Specifications </h4>

              <ion-row class="type_wise">
                  <ion-col size="1">
                      <span> <img src="img/artboard.svg"/> </span>

                  </ion-col>
                  <ion-col size="11" class="organstion_cont_right">
                      <p class="organstion_cont"> Organization Type </p>
                      <ion-row>
                          <ion-col size="3">
                              <p class="sme"> SME </p>
                          </ion-col>
                          <ion-col size="3">
                              <p class="sme"> Mid Market </p>
                          </ion-col>
                          <ion-col size="3">
                              <p class="sme"> Enterprise </p>
                          </ion-col>
                          <ion-col size="3">
                              <p class="sme"> Startup </p>
                          </ion-col>

                      </ion-row>

                  </ion-col>

              </ion-row>

              <ion-row class="type_wise">
                  <ion-col size="1">
                      <span> <img src="img/employees.svg"/> </span>

                  </ion-col>
                  <ion-col size="11" class="organstion_cont_right">
                      <p class="organstion_cont"> No. of Employees </p>
                      <ion-row>
                          <ion-col size="3">
                              <p class="sme"> SME </p>
                          </ion-col>
                          <ion-col size="3">
                              <p class="sme"> Mid Market </p>
                          </ion-col>
                          <ion-col size="3">
                              <p class="sme"> Enterprise </p>
                          </ion-col>
                          <ion-col size="3">
                              <p class="sme"> Startup </p>
                          </ion-col>

                      </ion-row>

                  </ion-col>

              </ion-row>

              <ion-row class="type_wise">
                  <ion-col size="1">
                      <span> <img src="img/supported_platform.svg"/> </span>

                  </ion-col>
                  <ion-col size="11" class="organstion_cont_right">
                      <p class="organstion_cont"> Supported Platforms </p>
                      <ion-row>
                          <ion-col size="3">
                              <p class="sme"> SME </p>
                          </ion-col>
                          <ion-col size="3">
                              <p class="sme"> Mid Market </p>
                          </ion-col>
                          <ion-col size="3">
                              <p class="sme"> Enterprise </p>
                          </ion-col>
                          <ion-col size="3">
                              <p class="sme"> Startup </p>
                          </ion-col>

                      </ion-row>

                  </ion-col>

              </ion-row>

              <ion-row class="type_wise">
                  <ion-col size="1">
                      <span> <img src="img/device.svg"/> </span>

                  </ion-col>
                  <ion-col size="11" class="organstion_cont_right">
                      <p class="organstion_cont"> Device </p>
                      <ion-row>
                          <ion-col size="3">
                              <p class="sme"> Desktop </p>
                          </ion-col>

                      </ion-row>

                  </ion-col>

              </ion-row>
              <ion-row class="type_wise">
                  <ion-col size="1">
                      <span> <img src="img/suitable.svg"/> </span>

                  </ion-col>
                  <ion-col size="11" class="organstion_cont_right">
                      <p class="organstion_cont"> Suitable for </p>
                      <ion-row>
                          <ion-col size="3">
                              <p class="sme"> All Industries </p>
                          </ion-col>

                      </ion-row>

                  </ion-col>

              </ion-row>
              <ion-row class="type_wise">
                  <ion-col size="1">
                      <span> <img src="img/language.svg"/> </span>

                  </ion-col>
                  <ion-col size="11" class="organstion_cont_right">
                      <p class="organstion_cont"> Language </p>
                      <ion-row>
                          <ion-col size="3">
                              <p class="sme"> English </p>
                          </ion-col>

                      </ion-row>

                  </ion-col>

              </ion-row>

          </ion-col>

      </ion-row>

      <ion-row class="recently_software_cont">
          <ion-col size="12">
              <h4> Recently shared by </h4>
              <ion-list class="shared_bottom_margin">
                  <ion-item class="shared_location_div" lines="none">
                      <ion-avatar slot="start" class="ios hydrated">
                          <img src="img/modi_pic.jpg">
                      </ion-avatar>
                      <ion-label class="ben_along_items">
                          <h2>Poonam Kumar </h2>
                          <h3>Shared on Whatsapp</h3>

                      </ion-label>
                      <ion-label class="looking_arean">
                          <h2>06:34AM</h2>

                      </ion-label>
                  </ion-item>
              </ion-list>

              <ion-list class="shared_bottom_margin">
                  <ion-item class="shared_location_div" lines="none">
                      <ion-avatar slot="start" class="ios hydrated">
                          <img src="img/modi_pic.jpg">
                      </ion-avatar>
                      <ion-label class="ben_along_items">
                          <h2>Poonam Kumar </h2>
                          <h3>Shared on Whatsapp</h3>

                      </ion-label>
                      <ion-label class="looking_arean">
                          <h2>06:34AM</h2>

                      </ion-label>
                  </ion-item>
              </ion-list>

              <ion-list class="shared_bottom_margin">
                  <ion-item class="shared_location_div" lines="none">
                      <ion-avatar slot="start" class="ios hydrated">
                          <img src="img/modi_pic.jpg">
                      </ion-avatar>
                      <ion-label class="ben_along_items">
                          <h2>Poonam Kumar </h2>
                          <h3>Shared on Whatsapp</h3>

                      </ion-label>
                      <ion-label class="looking_arean">
                          <h2>06:34AM</h2>

                      </ion-label>
                  </ion-item>
              </ion-list>

              <ion-list class="shared_bottom_margin">
                  <ion-item class="shared_location_div" lines="none">
                      <ion-avatar slot="start" class="ios hydrated">
                          <img src="img/modi_pic.jpg">
                      </ion-avatar>
                      <ion-label class="ben_along_items">
                          <h2>Poonam Kumar </h2>
                          <h3>Shared on Whatsapp</h3>

                      </ion-label>
                      <ion-label class="looking_arean">
                          <h2>06:34AM</h2>

                      </ion-label>
                  </ion-item>
              </ion-list>

              <ion-list class="shared_bottom_margin">
                  <ion-item class="shared_location_div" lines="none">
                      <ion-avatar slot="start" class="ios hydrated">
                          <img src="img/modi_pic.jpg">
                      </ion-avatar>
                      <ion-label class="ben_along_items">
                          <h2>Poonam Kumar </h2>
                          <h3>Shared on Whatsapp</h3>

                      </ion-label>
                      <ion-label class="looking_arean">
                          <h2>06:34AM</h2>

                      </ion-label>
                  </ion-item>
              </ion-list>

          </ion-col>
      </ion-row>

  </ion-grid>

</ion-content>
