<ion-header color="primary">
  <ion-toolbar color="primary" class="heading-padd">
    <ion-buttons slot="secondary">
      <ion-button>
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button>
        <ion-icon slot="icon-only" name="more"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="heading-size">Activate Your Business</ion-title>
    <ion-buttons slot="start" (click)="activateyourbusinessDismiss()">
      <ion-button>
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-content
    class="activate_your_buisiness"
    style="background: #fff;"
    color="primery"
  >
    <ion-grid class="business_social_earn">
      <ion-row>
        <ion-col class="soical_earn_primary">
          <img src="../../../../assets/images/activate_your_business.png" />
          <p>
            Join now & start your online selling via <br />
            social channels such as WhatsApp, Facebook,
          </p>
          <ion-button color="light" class="selling_social_panters"
            >&#x20B9; 299/ Year
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
</ion-content>
