.choose-l{
    background: #472dc2;
}
.choose-language{
    .item-label {.item-native{padding-left:0 !important;}}
    .item .sc-ion-label-md-h{
        font-size: 14px;
        padding: 8px 14px;
       }
    
}

.choose-language.sc-ion-card-md-h{
    margin-inline-start: 20px;
    margin-inline-end: 20px;
    box-shadow: none;
    border: solid 1px #e5e5e5;
    border-radius: 10px;

}

.language-text{
    font-family: "avenir-roman";
    padding: 20px 0 8px 20px;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: justify;
    color: var(--greyish-brown);
}

